logs
*.log
*.*~
*~
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
build/
#.vscode/
#app/node_modules/
node_modules/
#typings/
app/components/
*.png
*.svg
*.tap
*.old.*
old/
docs/
g-code/jscut_svg2gcode/
g-code/jscut_svg2gcode/bower_components/
build-serialport/
*.html
_sample/
*.js
*.map
