logs
*.log
*.*~
*~
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
build/
.vscode/
#app/node_modules/
node_modules/
#typings/
app/components/
*.svg
*.tap
*.old.*
old/
docs/
build-serialport/
*.html
_sample/
src/*.js
!tests/*.js
*.map
*/**/*.gcode
*.swp
*.directory
